/**
 * Fichier CSS principal - Import de tous les styles
 * E-commerce Calots Médicaux
 */

@import url('variables.css');
@import url('base.css');
@import url('components.css');
@import url('pages.css');
@import url('responsive.css');
